body,
html {
	width: 100%;
	height: 100%;
	font-family: 'Montserrat', sans-serif;
	background: url(header.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.container {
	height: 100%;
	align-items: center;
}

h1 {
	font-size: 3rem;
	color: #e2dbdb;
	
}

hr {
	border-color: white;
	border-width: 3px;
	max-width: 65px;
}

.buffer {
	height: 10em;
}

.btn {
	font-weight: 700;
	border-radius: 300px;
	text-transform: uppercase;
}

.btn-primary {
	background-color: #ff4500;
	border-color: #ff4500;
}

.btn-primary:hover {
	background-color: #c74e21;
	border-color: #c74e21;
	border-width: 4px;
}

.btn-xl {
	padding: 1rem 2rem;
}